.App {
  text-align: center;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.scorePane {
  display: block;
  position: sticky;
  /* height: 100px; */
  padding: 1px;
  /* margin-top: 20px; */
  /* right: 20px; */
  white-space: pre-wrap;
  top: 0px;
  background-color: teal;
  z-index: 5;
}